<div class="container-fluid" ng-controller="new_amort_ctrl" ng-init="stl()">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<caption><strong style="font-size: 20px;">New Amortization Book </strong>
			
			<div class="input-group" style="float:right;position: relative;">
			<a class="btn btn-default" href="#!amortization_book">Back</a></div></caption>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6" ng-controller="emi_calc">
			<form action="main_submit" method="get" accept-charset="utf-8">
				<div class="row form-group">
					<div class="col-md-12">
						<label for="n">Loan Account Name</label>
						<input type="text" name="n" class="form-control" id="n" ng-model="n">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="p">Principal Amount</label>
						<input type="number" name="p" class="form-control" id="p" ng-model="p" ng-change="emi_calc()">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="r">Rate Of Interest (%)</label>
						<input type="number" name="r" class="form-control" id="r" ng-model="r"  ng-change="emi_calc()">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="t">Tenure ({{tu}})</label>
						<div class="input-group" style="width: 100%">
							<input type="number" name="t" style="width: 75%" class="form-control" id="t" ng-model="t" ng-change="emi_calc()">
							<select class="form-control" style="width: 25%" ng-change="tu_ch()" ng-model="tu">
								<option>Months</option><option>Years</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="e">EMI</label>
						<input type="number" name="e" class="form-control" id="e" ng-model="e">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="dd">Disbursement Date</label>
						<input type="date" name="r" class="form-control" id="r" ng-model="dd" >
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="cd">Commensement Date</label>
						<input type="date" name="r" class="form-control" id="r" ng-model="cd" >
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="pf">Processing Fees</label>
						<input type="number" name="r" class="form-control" id="pf" ng-model="r" >
					</div>
				</div>
			</form>
		</div>
	</div>
</div>