<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Rule 1" stopProcessing="true">
              <match url="^(.*)/$" ignoreCase="false" />
              <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
            </rule>
            <rule name="Rule 2" stopProcessing="true">
              <match url="^" ignoreCase="false" />
              <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
              </conditions>
              <action type="Rewrite" url="index.php" />
            </rule>
          </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, PUT, DELETE" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" />
            </customHeaders>
        </httpProtocol>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="PHP55_via_FastCGI" />
            <add name="PHP55_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\iis express\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="HTML_via_FastCGI" path="*.html" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\iis express\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="HTM_via_FastCGI" path="*.htm" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\iis express\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <security>
	            <requestFiltering>
	                <fileExtensions>
	                    <add fileExtension=".php" allowed="true" />
	                </fileExtensions>
	                <verbs>
	                    <add verb="POST"   allowed="true" />
	                    <add verb="GET"    allowed="true" />
	                    <add verb="HEAD"   allowed="true" />
	                    <add verb="DELETE" allowed="true" />
	                    <add verb="PUT"    allowed="true" />
	                </verbs>
	        </requestFiltering>
	    </security>
        
    </system.webServer>

</configuration> 
